.mainWrapper {
  width: 100%;
  height: 100vh;
  background-color: #2a929b;
}

.titleContainer {
  padding: 100px 8vw 20px;
}

.worksContainer {
  padding: 0px 8vw;
  width: auto;
  height: 30vw;
}

.eachWorks {
  width: 25vw;
  height: 30vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 30vw;
}

.titleH1 {
  font-size: 4vw;
  color: #fff;
}

.titleH4 {
  font-size: 1.5vw;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .main-wrapper {
    width: 100%;
    height: auto;
  }

  .worksContainer {
    padding: 0px 8vw;
    width: auto;
    height: 90vw;
  }

  .eachWorks {
    width: 80vw;
    height: 90vw;
  }

  img {
    height: 85vw;
  }

  .titleH1 {
    font-size: 10vw;
    color: #fff;
  }

  p {
    font-size: 10vw;
    font-weight: bold;
    color: #fff;
  }

  .titleH4 {
    font-size: 5vw;
    color: #fff;
  }
}
