.sectionWrapper {
  width: 100%;
  height: 100vh;
  background-color: #2a929b;
}

.contentsWrapper {
  padding: 100px 8vw 20px;
  display: flex;
}

.eachContentsWrapper {
  flex: 1;
  margin: 0vw 0.4vw;
  padding-bottom: 1.5vh;
}

.imgContainer {
  padding: 1vw;
}

.imgSize {
  display: flex;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}

.iconInSentence {
  position: relative;
  top: 2px;
  padding-right: 10px;
}

@media screen and (max-width: 1000px) {
  .sectionWrapper {
    height: auto;
  }

  .contentsWrapper {
    flex-direction: column;
  }

  .imgContainer {
    padding: 0;
    display: flex;
  }

  .imgSize {
    width: 100%;
    height: 65vw;
  }

  .btnWrapper {
    margin: 2vw;
  }

  .iconInSentence {
    position: relative;
    top: 2px;
    padding-right: 10px;
  }
}
