.sectionWrapper {
  width: 100%;
  height: 100vh;
  background-color: #2a929b;
}

.contentsWrapper {
  padding: 100px 8vw 20px;
  display: flex;
}

.halfBox {
  flex: 1;
  margin: 0vw 0.4vw;
  padding-bottom: 1.5vh;
}

.imgContainer {
  padding: 1vw;
}

.imgSize {
  display: flex;
}

.contentsBtn {
  margin-top: 1vw;
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 16px;
  border-radius: 4px;
  padding: 16px 84px;
  text-decoration: none;
  background: #fff;
  color: #2a929b;
}

.btn:hover {
  background: #ff492c;
  color: #fff;
  transition: all 0.2s ease-out;
}

.iconInSentence {
  position: relative;
  top: 2px;
  padding-right: 10px;
}

@media screen and (max-width: 1000px) {
  .sectionWrapper {
    height: auto;
  }

  .contentsWrapper {
    flex-direction: column;
  }

  .imgContainer {
    padding: 0;
    display: flex;
  }

  .imgSize {
    width: 100%;
    height: 65vw;
  }

  .btn {
    font-size: 3.5vw;
    border-radius: 4px;
    padding: 2vw 8vw;
    text-decoration: none;
    height: 5vw;
  }

  .iconInSentence {
    position: relative;
    top: 2px;
    padding-right: 10px;
  }
}
