.contentsBtn {
  margin-top: 2.5vw;
}

.btn {
  font-size: 1vw;
  border-radius: 4px;
  padding: 0.9vw 3vw;
  text-decoration: none;
  background: #fff;
  color: #2a929b;
  transition: all 0.2s ease-out;
}

.btn:hover {
  background: #ff492c;
  color: #fff;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 960px) {
  .btn {
    font-size: 3.5vw;
    padding: 2vw 8vw;
  }
}
