.eachWorksWrapper {
  background-color: #fff;
  width: 30vw;
}

.liWrapper {
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
}

.liWrapper:hover {
  opacity: 0.6;
  transition: all 0.2s ease-out;
  transform: scale(0.9, 0.9);
}

.imgWrapper {
  display: flex;
  justify-content: center;
}

img {
  height: 30vw;
}

@media screen and (max-width: 960px) {
  .eachWorksWrapper {
    width: auto;
    padding: 2vw;
  }

  img {
    height: 80vw;
  }
}
