.eachWorksWrapper {
  background-color: #fff;
  width: 30vw;
}

.imgWrapper {
  display: flex;
  justify-content: center;
}

img {
  height: 30vw;
}

@media screen and (max-width: 960px) {
  .eachWorksWrapper {
    width: auto;
    padding: 2vw;
  }

  img {
    height: 80vw;
  }
}
