.mainWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentsWrapper {
  padding: 10vw;
}

.titleH1 {
  font-size: 4vw;
}

.titleH4 {
  font-size: 1.5vw;
}

.eoorNumber {
  font-size: 4vw;
  color: #ff492c;
}

@media screen and (max-width: 960px) {
  .main-wrapper {
    width: 100%;
    height: 100vh;
  }

  .titleH1 {
    font-size: 10vw;
    color: #fff;
  }

  .titleH4 {
    font-size: 5vw;
    color: #fff;
  }
}
