.mainWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2a929b;
}

.contentsWrapper {
  padding: 10vw;
}

.titleH1 {
  font-size: 4vw;
  color: #fff;
}

.titleH4 {
  font-size: 1.5vw;
  color: #fff;
}

.contentsBtn {
  margin-top: 90px;
}

.btn {
  font-size: 16px;
  border-radius: 4px;
  padding: 16px 64px;
  text-decoration: none;
  height: 54px;
  background: #fff;
  color: #2a929b;
}

.btn:hover {
  background: #ff492c;
  color: #fff;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 960px) {
  .main-wrapper {
    width: 100%;
    height: 100vh;
  }

  .titleH1 {
    font-size: 10vw;
    color: #fff;
  }

  .titleH4 {
    font-size: 5vw;
    color: #fff;
  }

  .btn {
    font-size: 3.5vw;
    border-radius: 4px;
    padding: 2vw 8vw;
    text-decoration: none;
    height: 5vw;
  }
}
