.display-table-contents {
  padding: 40px 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.display-table {
  width: 100%;
  display: table;
}

.social-icons li {
  display: inline-block;
}

.social-icons li a {
  display: inline-block;
  color: #30bfba;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-link {
  position: relative;
}

.fa-icons {
  color: #000;
  font-size: 2rem;
}

.fa-icons:hover {
  color: #ff492c;
  transition: all 0.2s ease-out;
}
