.iconsContainer {
  display: flex;
  align-items: center;
  margin-top: 0.5vw;
}

.skillsIcons li {
  padding-right: 1vw;
  font-size: 2.5vw;
  text-align: center;
  display: inline;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  ul.skillsIcons {
    margin: 0;
    padding: 2vw;
  }

  .skillsIcons li {
    font-size: 8vw;
  }
}
