header {
  background-color: darkseagreen;
}

body {
  font-family: Arial, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.7;
  color: #000;
  background: #fff;
}

h1 {
  margin: 0;
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  margin: 0;
  font-size: 16px;
}

nav {
  background-color: darkturquoise;
}

.whole-wrapper {
  padding: 20px;
  width: auto;
}

/* Introduce */
.introduce-wrapper {
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  padding-top: 200px;
  justify-content: start;
}

.intro-title {
  font-weight: bold;
  position: relative;
}

/* SocialMedias */
.container {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: cadetblue;
}

.display-table-contents {
  padding: 10px 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.display-table {
  width: 100%;
  display: table;
}
.social-icons {
  margin: 0;
  padding: 0;
}

.social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.social-icons li a {
  display: inline-block;
  color: #30bfba;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-link {
  position: relative;
}

/* contact */
#contact {
  padding: 128px 0;
  clear: both;
}

.contact {
  background: #f0d24f;
}

.contact-contents {
  color: white;
  text-align: center;
}

.description {
  font-size: 16px;
}

.btn {
  font-family: 'Space Mono', Arial, serif;
  font-size: 16px;
  border: none !important;
  border-radius: 30px;
  padding: 16px 64px;
  text-decoration: none;
}

#contact .btn {
  height: 54px;
  background: #fff;
  color: #5db1a1;
}
