body {
  font-family: Arial, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.7;
  color: #000;
  background: #fff;
}

h1 {
  margin: 0;
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  margin: 0;
  font-size: 16px;
}

footer {
  margin-bottom: 60px;
}

.whole-wrapper {
  padding: 10px;
  width: auto;
}

/* Introduce */
.main-wrapper {
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  padding: 74px 10px 0 10px;
}

.intro-title {
  font-weight: bold;
  position: relative;
}

/* footer */
h6.copy-right {
  margin: 0;
  font-size: 12px;
  text-align: center;
  font-weight: lighter;
}
